@import "fontfaces.css";
@import "variables.scss";
@import "bulma";

/* All this is to make the footer sticky to the bottom.*/
html, body, #__nuxt { min-height: 100vh; }
body, #__nuxt { display: flex; flex-direction: column; }
main { flex: 1 0 auto; }
.footer { flex-shrink: 0; }

html, body { background-color: #fff; }

a, footer a {
  color: darken($purple, 12%);
  text-decoration: underline;
}

a:hover, footer a:hover {
  color: darken($purple, 48%);
  text-decoration: underline;
}

// Buttons
.button {
  font-weight: 700;
  font-family: $family-code;
}

// Containers
.skinny {
  max-width: 60rem !important;
}

.super-skinny {
  max-width: 48rem !important;
}

.tiny {
  max-width: 32rem !important;
}

// Footer
footer {
  background-color: #F5F5FF;
  box-shadow: inset 0 1px 0 0 #BBB9FF;
  font-family: $family-code;
  color: darken($purple, 4%);
  margin-top: 2rem;
  padding: 1rem;
}

// UI
.section {
  padding: 1rem 1.5rem;
}

.ph {
  position: fixed;
  bottom: 32px;
  right: 16px;
  width: 192px;
  z-index: 99;
}

@media (max-width: 1024px) {
  .ph {
    position: static;
    text-align: center;
    width: 224px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: -24px;
  }
}

// Link Boxes
.box {
  background-image: linear-gradient(180deg, #F5F5FF 0%, #FFFFFF 100%);
  border: 1px solid #BBB9FF;
  border-radius: 8px;
  min-height: 192px;
}

@media (max-width: 769px) {
  .box {
    min-height: 0;
  }
}

.box.link .media {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box.link {
  position: relative;
}

.box.link .media-left {
  margin-right: 0.75rem;
}

.box.link .media-content .title {
  font-weight: 800;
}

.box.link img {
  border-radius: 0.75rem;
}

.link-status {
  position: absolute;
  top: 0;
  right: 0;
  font-family: $family-monospace, monospace;
  font-weight: 600;
  font-size: 0.5625rem;
  line-height: 0.6875rem;
  color: $purple;
  text-align: center;
  text-transform: uppercase;
  background-color: #eae4fe;
  padding: 0.125rem 0.625rem 0.1875rem 0.6875rem;
  border-radius: 0 7px 0 5px;
}

.link-status.retired {
  color: $pink;
  background-color: lighten($pink,20%);
}

.link-status.out-of-date {
  color: $cyan;
  background-color: lighten($cyan,28%);
}

.link-developer {
  font-family: $family-code;
  font-weight: bold;
  font-size: $size-9;
  margin-bottom: 0.5rem;
  color: $black;
}

.link-description {
  font-size: 0.875rem;
  line-height: 1.4;
  color: $grey;
  letter-spacing: -0.05px;
  margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .link-description {
    min-height: 56px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.link-urls {
  font-family: $family-code;
  font-weight: 600;
  font-size: 0.9375rem;
}

.link-urls a:hover {
  color: darken($link, 20%);
}

.link-urls a.app-store {
  color: $pink;
}

.link-urls a.app-store:hover {
  color: darken($pink, 8%);
}

// Default.vue
.fade-enter-active {
  transition: opacity .5s;
}

.fade-enter {
  opacity: 0;
}

// Hero
.top-bar {
  background-image: linear-gradient(270deg, #9876F8 0%, #FF85B8 100%);
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.32);
  height: 4px;
}

.hero {
  min-height: 480px;
  background-image: url('../assets/images/confetti.png'), linear-gradient(0deg, #7162B3 0%, #212C70 53%, #1B2357 100%);
  background-position: bottom center;
  background-size: contain, cover;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  .hero {
    background-position: 5% center;
    background-size: cover;
  }
}

.hero-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Content
.content, .content h1, .content h2, .content h3 {
  color: #1b2357 !important;
}

// Navbar
.navbar {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  font-size: 1.125rem;
  font-weight:   800;
}

.navbar-item img {
  max-height: none;
}

.navbar-item {
  padding: 0.5rem 1rem;
}

.navbar-burger.burger {
  color: #FFA7ED;
}

@media (max-width: 1023px) {
  .navbar-brand img {
    width: 192px;
  }
}
