@import "variables.scss";
@import "~bulma";

body {
  font-family: 'Inter','IBM Plex Mono';
}

.skinny {
  max-width: 60rem;
}

.super-skinny {
  max-width: 48rem;
}

.divider {
  background-image: linear-gradient(270deg, #9876F8 0%, #FF85B8 100%);
  height: 1px;
  margin-bottom: 2rem;
}