@import "variables.scss";
@import "~bulma";

html, body {

}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

// Bulma CSS Tweaks
.section {
  padding: 1rem 1.5rem;
}

// Buttons
.button {
  font-weight: 700;
  font-family: 'IBM Plex Mono';
}

// Typography
.content h1, .content h2, .content h3, .content h4, .content h5, .content h6, {
  margin-top: 0 !important;
}

// Menus
.menu {
  font-size: 0.9375rem;
}

// Container Widths
.skinny {
  max-width: 60rem;
}

.super-skinny {
  max-width: 48rem;
}

.tiny {
  max-width: 32rem;
}

// Footer
footer {
  background: #F5F5FF;
  box-shadow: inset 0 1px 0 0 #BBB9FF;
  min-height: 192px;
  margin-top: 8rem;
  color: #5C58CE;
  font-family: 'IBM Plex Mono';
  padding: 1rem;
}

footer a, footer a:hover {
  color: #5C58CE;
  text-decoration: underline;
}

.divider {
  background-image: linear-gradient(270deg, #9876F8 0%, #FF85B8 100%);
  height: 1px;
  margin: 0 0 2rem;
}