// Navbar
$navbar-height: 4rem;
$navbar-background-color: transparent;
$navbar-box-shadow-color: transparent;
$navbar-item-color: #FF81B9;
$navbar-item-hover-color: #FFA7ED;
$navbar-item-hover-background-color: transparent;
$navbar-box-shadow-color: transparent;

// Typography
$title-weight: 900;